<div class="question-list">
  <h3>
    質問タイトル：<%= link_to question.title, question_path(question.id) %>
  </h3>
  <div class="posted-by">
    <%= link_to question.user.nickname, profile_path(question.user.id) %>さんによる投稿
  </div>
</div>